<!DOCTYPE html>
{% load staticfiles %}


<html>
    <head lang="en">
        <title>
            Picker Accounting - 
            {% block title_block %}
                Website
            {% endblock %}
        </title>
        <link href="{% static 'style.css' %}" rel="stylesheet">
    </head>
    <body>
        <div>
        {% block nav_block %}
            <ul>
                <li><a href="{% url 'picks:index' %}">Index</a></li>
                <li><a href="{% url 'picks:enterpick' %}">Enter Pick</a></li>
                <li><a href="{% url 'picks:soldlist' %}">Sold Picks</a></li>
                {% if user.is_authenticated %}
                    <li>Logout</li>
                {% else %}
                    <li>Login</li>
                    <li><a href="{% url 'picks:register' %}">Register</a></li>
                {% endif %}
            </ul>
        {% endblock %}
        </div>
        <div>
            {% block body_block %}
                This is body_block's default content.
            {% endblock %}
        </div>
        <!-- <div>
            {% block sidebar_block %}
                
            {% endblock %}
        </div> -->
        <hr />
    </body>
</html>