{% extends 'picks/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Sold List
{% endblock %}

{% block body_block %}
    <div>
		{% if picks %}
			<table id='customers'>
				<tr>
					<th></th>
                    <th>Date Purchased</th>
					<th>Item</th>
					<th>Purchase Price</th>
                    <th>Date Sold</th>
                    <th>Sale Price</th>
					<th>Profit/Loss</th>
                    <th>Percent Profit</th>
				</tr>
				{% for pick in picks %}
				<tr>
                    <td>
                        {% if pick.picture %}
                            <img src="../media/{{ pick.picture }}" alt="{{ pick.item }} image">
                        {% else %}
                            "No Image"
                        {% endif %}
                    </td>
					<td>{{ pick.date_bought }}</td>
					<td>{{ pick.item }}</td>
					<td>{{ pick.purchase_price }}</td>
                    <td>{{ pick.date_sold }}</td>
                    <td>{{ pick.sale_price }}</td>
					<td>{{ pick.profit_loss }}</td>
                    <td>{{ pick.percent_profit }}</td>
                </tr>
				{% endfor %}
			</table>
		{% else %}
			<strong>You don't have any sold picks.</strong>
		{% endif %}
		</div>
{% endblock %}